.news-letter {
  background-color: white;
  padding: 1.2rem;
  margin-bottom: 1rem;
  min-height: 250px;
  font-weight: 400;

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #DD1C49;
  }

  * {
    color: black;
  }
}