$base-font: 'Source Sans Pro', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5rem;
$body-bg: #F4F4F4;

// Colors
$primary-red-color: #DB1F44;
$ligth-red-color: #DD1C49;
$primary-black: #000;
$primary-darken-grey-color: #425c6e;

// Text Colors
$white-text-color: #ffff;
$black-text-color: #000;
$red-text-color: #DD1C49;